# OS files
.DS_Store
Thumbs.db


# Environment variables
.env
.env.*

# Dependencies
node_modules/

# Build / output folders
dist/
build/
out/

# VS Code settings (optional but common)
.vscode/


