<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>LYX</title>
    <style>
        body {
            background: #b3e5fc;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .container {
            max-width: 700px;
            max-height: 90vh;
            background: #ffffffcc;
            padding: 20px;
            margin: 20px;
            border-radius: 15px;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow-y: auto;
        }

        h1 {
            color: #0277bd;
            justify-items: center;

        }

        p {
            line-height: 1.6;
            margin: 8px 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <div>
            <h1>Hello LYX</h1>
        </div>
    </div>
</body>

</html>