<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my .ejs file</h1>
    <p>
        the guy below is not the goat btw, mj > lebron
    </p>
    <div class="photo">
        <img src="/lebron.gif" alt="Lebron GIF" />
      </div>
</body>
</html>